body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 130%;
}
.wrapper{
    width: 550px;
    margin: 0 auto;
}
label{
    width: 200px;
    float: left;
    position: relative;
    top: 12px;
}
input{
    width: 320px;
    font-size: 25px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 5px 12px 5px;
}
.formElement{
    margin-bottom: 10px;
}
#submitbutton{
    width: 130px;
    margin-left: 200px;
}
#success{
    color: green;
    font-size: 90%;
}
#errors{
    color: red;
    font-size: 90%;
}
#submitbutton{
    cursor: pointer;
}